@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.548),rgba(0,0,0,0.5)), url("/public/assets/hero-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.hero-title{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.5;
    color: white;
    width: 50vw;
    font-weight: 300;
    font-size: 3vw;
}